@import 'tailwindcss';
@import './fonts.css';

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

:root {
  --color-brand-primary: #0095ef;
  --color-brand-accent: #a79eff;
  --color-brand-sky: #8ce9ff;
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-brand-primary);
  }

  .bg-accent {
    background-color: var(--color-brand-accent);
  }

  .bg-sky {
    background-color: var(--color-brand-sky);
  }

  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
}
